html {
	height: 100%;
	font-family: Verdana;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.instructions {
	background: #fff;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #ccc;
	border-radius: 1px;
}

.instructions code {
	font-family: Verdana;
	background: #f3f3f3;
	padding: 0px 4px 0px 4px;
	border-radius: 2px;
	border: 1px solid #ececec;
}

.codePane {
	width: 100em;			/* eats up all space not used by the other columns */
	height: 100%;
	background: #f0f0f0;
}

.map {
	margin: 20px;
	border: 1px solid #666;
	border-radius: 2px;
}

.btnDiv {
	text-align: right;
	margin: 1.0em;
}

.btn {
	height: 2.5em;
	width: 10em;
}

.status1 {
	margin: 1em;
	font-size: 15pt;
}

.status2 {
	display: inline-block;
	width: 15em;
	margin: 0em 1em;
	font-size: 15pt;
}